.topbar {
    width: 100%;
    height: 52px;
    background-color: white;

    .topBarWrapper {
	height: 100%;
	padding: 0px 13px;
	display: flex;
	align-items: center;
	justify-content: space-between;

	.topLeft {
	    color: #028ECA;
	    font-size: 30px;
	    font-weight: bold;
	    cursor: pointer;
	}

	.topRight {
	    cursor: pointer;
	    display: flex;
	    align-items: center;

	    .topRightIcons {
		position: relative;
		margin-right: 13px;
		color: #555;

		.topIconBadge {
		    font-size: 12px;
		    position: absolute;
		    width: 14px;
		    height: 14px;
		    top: -4px;
		    right: 2px;
		    background-color: red;
		    color: white;
		    border-radius: 50%;
		    display: flex;
		    align-items: center;
		    justify-content: center;
		}

		.profile {
		    width: 40px;
		    height: 40px;
		    border-radius: 50%;
		    cursor: pointer;
		}
	    }
	}
    }
}
