.userList {
    flex: 4;
}

.userListCell {
    display: flex;
    align-items: center;

    .profile {
	width: 45px;
	height: 45px;
	border: 1px solid grey;
	border-radius: 50%;
	object-fit: contain;
	cursor: pointer;
	background-color: white;
	margin-right: 10px;
    }
}

.manageUser {
    display: flex;
    align-items: center;
    justify-content: center;

    .deleteIcon {
	color: rgb(192, 0, 0);
	cursor: pointer;
    }

    .manageUserButton {
	border: none;
	border-radius: 6px;
	background-color: #028ECA;
	color: white;
	padding: 6px 13px;
	cursor: pointer;
	margin-right: 13px;
    }
}
